@if (loadingInscripciones$ | async) {
    <mat-spinner></mat-spinner>
    } @else {
    <form [formGroup]="inscripcionesForm" action="">
      <div class="form-row">
      <mat-form-field>
        <mat-label>Alumno</mat-label>
        <mat-select formControlName="alumno">
          <mat-option [value]="alumno" *ngFor="let alumno of (alumnos$ | async)"
            >{{ "-" | nameJoinLastName : alumno.firstName : alumno.lastName  }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Curso</mat-label>
        <mat-select formControlName="curso">
          <mat-option [value]="curso" *ngFor="let curso of (cursos$ | async)"
            >{{ curso.nombre }} - {{ curso.tutor }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    
      <button (click)="createInscripcion()" [disabled]="this.inscripcionesForm.invalid" mat-flat-button color="primary">Inscribir</button>
      </div>
      <h1 appFontSize style="margin-bottom: 2rem;">Lista de inscripciones</h1>
  
  <table mat-table [dataSource]="(inscripciones$ | async) || []" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th appFontSize mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="alumno">
      <th appFontSize mat-header-cell *matHeaderCellDef>Alumno</th>
      <td mat-cell *matCellDef="let element">{{ "-" | nameJoinLastName : element.student.firstName : element.student.lastName  }}</td>
    </ng-container>

    <ng-container matColumnDef="curso">
      <th appFontSize mat-header-cell *matHeaderCellDef>Curso</th>
      <td mat-cell *matCellDef="let element">{{ element.course.nombre }} - {{ element.course.tutor }}</td>
    </ng-container>

    <ng-container matColumnDef="fechaInscripcion">
      <th appFontSize mat-header-cell *matHeaderCellDef>Fecha inscripción</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaInscripcion }}</td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th appFontSize mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let element">{{ "-" | nameJoinLastName : element.user.firstName : element.user.lastName  }}</td>
    </ng-container>
  
  
    <ng-container matColumnDef="actions">
      <th appFontSize mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="deleteInscripcionById(element.id)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

    </form>
}