<h2 mat-dialog-title>Crear curso</h2>
<div mat-dialog-content>
  <form [formGroup]="cursoForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input formControlName="nombre" matInput />
          <mat-hint>El nombre debe tener al menos 2 caracteres</mat-hint>
          <mat-error>{{
            nombreControl?.errors | formFieldValidation
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Cantidad de hs:</mat-label>
          <input formControlName="cantHs" matInput />
          <mat-error>{{
            cantHsControl?.errors | formFieldValidation
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Cantidad de clases:</mat-label>
          <input formControlName="cantClases" matInput />
          <mat-error>{{
            cantClasesControl?.errors | formFieldValidation
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Profesor:</mat-label>
          <input formControlName="tutor" matInput />
          <mat-error>{{
            tutorControl?.errors | formFieldValidation
          }}</mat-error>
        </mat-form-field>
      </div>
      
    </div>
  </form>

  <div *ngIf="inscripcionesByCourse$ | async  as inscripciones">
    <ng-container *ngIf="inscripciones.length > 0; else noData">
      <h2 appFontSize style="margin-bottom: 2rem;">Alumnos inscriptos</h2>
      <table mat-table [dataSource]="inscripciones || []" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th appFontSize mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="alumno">
          <th appFontSize mat-header-cell *matHeaderCellDef>Alumno</th>
          <td mat-cell *matCellDef="let element">{{ "-" | nameJoinLastName : element.student.firstName : element.student.lastName  }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaInscripcion">
          <th appFontSize mat-header-cell *matHeaderCellDef>Fecha inscripción</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaInscripcion }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </ng-container>
  </div>
  <ng-template #noData>
    <h2 appFontSize style="margin-bottom: 2rem;">No hay alumnos inscriptos.</h2>
  </ng-template>
</div>

<div class="d-flex justify-content-end" mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button (click)="save()" mat-button [disabled]="this.cursoForm.invalid || !this.isEditMode || this.cursoForm.pristine">Guardar</button>
</div>


