<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [mode]="'side'">
    <div class="example-menu" cdkMenu>
      <button class="example-menu-item" cdkMenuItem routerLink="home">Inicio</button>
      <button *ngIf="(authUser$ | async)?.role === 'ADMIN'" class="example-menu-item" cdkMenuItem
        routerLink="usuarios">Usuarios</button>
      <button class="example-menu-item" cdkMenuItem routerLink="alumnos">Alumnos</button>
      <button class="example-menu-item" cdkMenuItem routerLink="cursos">Cursos</button>
      <button class="example-menu-item" cdkMenuItem routerLink="inscripciones">Inscripciones</button>
      <button class="example-menu-item" cdkMenuItem (click)="logout()">Cerrar sesión</button>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="warn">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>
          <button (click)="drawer.toggle()" mat-icon-button class="example-icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Gestión académica - {{ (routeData$ | async)?.["title"] }}</span>
        </div>
      </div>

      <div *ngIf="authUser$ | async">Bienvenido {{ (authUser$ | async)?.firstName }}!</div>
    </mat-toolbar>

    <main style="padding: 1rem">
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>