.main-background {
    height: 100vh;
    background-color: rgb(62, 63, 65);
    background-image: url('../../../assets/software-de-gestion-academica.jpg');
    background-size: cover;
    background-position: center;
  }