<div class="d-flex justify-content-center"> 
<mat-card class="example-card m-5" routerLink="alumnos">
    <img mat-card-image src="../assets/alumnos.jpg">
    <mat-card-header>
      <mat-card-title>Gestión de Alumnos</mat-card-title>
    </mat-card-header>    
  </mat-card>

  <mat-card class="example-card m-5" routerLink="cursos">
    <img mat-card-image src="../assets/cursos.jpg" >
    <mat-card-header>
      <mat-card-title>Gestión de Cursos</mat-card-title>
    </mat-card-header>    
  </mat-card>

  <!-- <mat-card class="example-card m-5" routerLink="clases">
    <img mat-card-image src="../assets/clases.jpg">
    <mat-card-header>
      <mat-card-title>Gestión de Clases</mat-card-title>
    </mat-card-header>    
  </mat-card> -->

  <mat-card *ngIf="(authUser$ | async)?.role === 'ADMIN'" class="example-card m-5" routerLink="usuarios">
    <img mat-card-image src="../assets/clases.jpg">
    <mat-card-header>
      <mat-card-title>Gestión de Usuarios</mat-card-title>
    </mat-card-header>    
  </mat-card>

  <mat-card class="example-card m-5" routerLink="inscripciones">
    <img mat-card-image src="../assets/clases.jpg">
    <mat-card-header>
      <mat-card-title>Gestión de Inscripciones</mat-card-title>
    </mat-card-header>    
  </mat-card>
</div>